In [3]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import os
from datetime import datetime
import pandas as pd

In [6]:
df = pd.read_csv('https://raw.githubusercontent.com/srivatsan88/YouTubeLI/master/dataset/electricity_consumption.csv')
df.head()

  Bill_Date  On_peak  Off_peak  Usage_charge  Billed_amount  Billing_days
0  1/1/2016      365    1423.5         219.0         247.73            31
1  2/1/2016      292    1138.8         175.2         234.11            31
2  3/1/2016      130     507.0          78.0         123.85            29
3  4/1/2016      117     456.3          70.2         111.22            29
4  5/1/2016      136     530.4          81.6         118.37            29

In [7]:
print ("Rows     : " ,df.shape[0])
print ("Columns  : " ,df.shape[1])
print ("\nFeatures : \n" ,df.columns.tolist())
print ("\nMissing values :  ", df.isnull().any())
print ("\nUnique values :  \n",df.nunique())

Rows     :  53
Columns  :  6

Features :
 ['Bill_Date', 'On_peak', 'Off_peak', 'Usage_charge', 'Billed_amount', 'Billing_days']

Missing values :   Bill_Date        False
On_peak          False
Off_peak         False
Usage_charge     False
Billed_amount    False
Billing_days     False
dtype: bool

Unique values :
 Bill_Date        53
On_peak          51
Off_peak         53
Usage_charge     53
Billed_amount    52
Billing_days      9
dtype: int64

In [13]:
df['Bill_Date'] = pd.to_datetime(df['Bill_Date'])

In [14]:
bill_df=df.set_index("Bill_Date")

In [15]:
bill_df.head()

            On_peak  Off_peak  Usage_charge  Billed_amount  Billing_days
Bill_Date
2016-01-01      365    1423.5         219.0         247.73            31
2016-02-01      292    1138.8         175.2         234.11            31
2016-03-01      130     507.0          78.0         123.85            29
2016-04-01      117     456.3          70.2         111.22            29
2016-05-01      136     530.4          81.6         118.37            29

In [17]:
bill_2018 = bill_df['2016':'2018'][['Billed_amount']]
bill_2018.head()

            Billed_amount
Bill_Date
2016-01-01         247.73
2016-02-01         234.11
2016-03-01         123.85
2016-04-01         111.22
2016-05-01         118.37

Simple moving average = (t + (t-1) + (t-2) + ... + (t-n)) / n

In [ ]:
bill_2018['Billed_amount'].rolling(window=3).mean()