In [3]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import os
from datetime import datetime
import pandas as pd

In [6]:
df = pd.read_csv('https://raw.githubusercontent.com/srivatsan88/YouTubeLI/master/dataset/electricity_consumption.csv')
df.head()

  Bill_Date  On_peak  Off_peak  Usage_charge  Billed_amount  Billing_days
0  1/1/2016      365    1423.5         219.0         247.73            31
1  2/1/2016      292    1138.8         175.2         234.11            31
2  3/1/2016      130     507.0          78.0         123.85            29
3  4/1/2016      117     456.3          70.2         111.22            29
4  5/1/2016      136     530.4          81.6         118.37            29