In [21]:

import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import os
from datetime import datetime
import pandas as pd
import plotly.express as px


from statsmodels.tsa.stattools import kpss
from statsmodels.tsa.stattools import adfuller

import warnings
warnings.filterwarnings('ignore')

In [15]:
df = pd.read_csv('https://raw.githubusercontent.com/srivatsan88/YouTubeLI/master/dataset/amazon_revenue_profit.csv')
df.head(10)

      Quarter  Revenue  Net Income
0   3/31/2020    75452        2535
1  12/31/2019    87437        3268
2   9/30/2019    69981        2134
3   6/30/2019    63404        2625
4   3/31/2019    59700        3561
5  12/31/2018    72383        3027
6   9/30/2018    56576        2883
7   6/30/2018    52886        2534
8   3/31/2018    51042        1629
9  12/31/2017    60453        1856

In [16]:
df['Quarter'] = pd.to_datetime(df['Quarter'])

In [17]:
df_amazon = df.set_index('Quarter')

In [18]:
df_amazon

            Revenue  Net Income
Quarter
2020-03-31    75452        2535
2019-12-31    87437        3268
2019-09-30    69981        2134
2019-06-30    63404        2625
2019-03-31    59700        3561
...             ...         ...
2006-03-31     2279          51
2005-12-31     2977         199
2005-09-30     1858          30
2005-06-30     1753          52
2005-03-31     1902          78

[61 rows x 2 columns]

- [x] KPSS Test:

 - Null Hypothesis (H₀): The series is stationary around a constant mean or a deterministic trend.
 - Alternative Hypothesis (H₁): The series is non-stationary (has a unit root).
 - Interpretation: If the KPSS test statistic is significantly large (above the critical value), the null hypothesis is rejected, suggesting non-stationarity.
- [x] ADF Test:
 - Null Hypothesis (H₀): The series is non-stationary (contains a unit root).
 - Alternative Hypothesis (H₁): The series is stationary.
 - Interpretation: If the ADF test statistic is significantly small (below the critical value), the null hypothesis is rejected, indicating the series is stationary.

In [19]:
stats, p, lags, critical_values = kpss(df['Revenue'], 'ct')

In [20]:
print(f'Test Statistics: {stats}')
print(f'p-value: {p}')
print(f'Critial Values: {critical_values}')

if p < 0.05 :
  print('Series is not Stationary')
else:
  print('Series is Stationary')

Test Statistics: 0.30665545975169417
p-value: 0.01
Critial Values: {'10%': 0.119, '5%': 0.146, '2.5%': 0.176, '1%': 0.216}
Series is not Stationary

In [22]:
result = adfuller(df['Revenue'])

In [23]:
print(f'Test Statistics: {result[0]}')
print(f'p-value: {result[1]}')
print(f'Critial Values: {result[4]}')

if result[1] > 0.05 :
  print('Series is not Stationary')
else:
  print('Series is Stationary')

Test Statistics: -2.44483603819724
p-value: 0.1294794312183859
Critial Values: {'1%': np.float64(-3.568485864), '5%': np.float64(-2.92135992), '10%': np.float64(-2.5986616)}
Series is not Stationary